body {
  background-color: lightblue;
}

a {
  text-decoration: none;
  color: mediumblue;
}

nav ul li a:visited {
  text-decoration: none;
  color: forestgreen;
}

nav ul li a:hover button{
  text-decoration: ;
  color: mediumblue;
  background-color: lightblue;
}

nav ul li:hover {
  background-color: lightblue;
}


nav {
  background-color: ;
  max-width: 800px;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  
}


nav ul li {
  background-color: white;
  flex-flow: row wrap;
  align-items: stretch;
  list-style-type: none;
  padding: 0.3rem;
  margin: 0.1rem;
  max-width: 100%;
  border-radius: 0.5rem;
  border: 1px solid mediumblue;
  border: 2px solid mediumblue;
}


nav ul li a {
  font-family: 'Charm', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  color: rgba(230,68,0,0.5);
}




nav ul li a button {
  font-family: 'Charm', cursive;
  max-width: 100%;
  color: black;
  border: none;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: whitesmoke;
}


nav ul li a:visited {
  text-decoration: none;
  color: lightblue;
}

nav ul li a:hover button{
  text-decoration: ;
  color: mediumblue;
  background-color: lightblue;
}

nav ul li:hover {
  background-color: lightblue;
}

@media (max-width: 600px) {
  .navwrapper {
    flex-direction: column;
  }
}

.listintrocontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border: 2px solid mediumblue;
  border-radius: 10px;
  max-width: 1200px;
  padding: 10px;
  margin: 20px auto;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: darkblue;
  text-align: center;
}

h2 {
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: mediumblue;
  font-size: 1.5em;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 1em;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: mediumblue;
  font-size: .90em;
}
.h2container {
  display: flex;
  background-color: white;
  padding: 10px;
  border: 3px solid mediumblue;
  border-radius: 10px;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px auto;
}

p {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.ulcontainer {
  display: flex;
  background-color: white;
  padding: 10px;
  border: 3px solid mediumblue;
  border-radius: 10px;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px auto;
}
ul {
  text-align: center;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 300px;
  height: 300px;
}

a img {
  border: none;
  outline: none;
}

.listcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contentimage {
  width: 45%;
  max-width: 300px;
  margin-right: 20px;
  height: auto;
}

.textcontainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

@media screen (max-width: 1200px) {
  .listcontainer {
    flex-direction: row;
    padding: 20px;
  }
  .contentimage {
    margin-bottom: 20px;
  }
  .textcontainer {
    width: 45%;
    margin-bottom: 20px;
  }
  }
}

@media screen (max-width: 800px) {
  .listcontainer {
    flex-direction: row;
    padding: 10px;
  }
  .textcontainer {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media screen (max-width: 555) {
  .listcontainer {
    flex-direction: column;
  }
}

@media screen (orientation: portrait) {
  .listcontainer {
    flex-direction: column;
  }
}
footer {
  weight: 400;
  color: darkblue;
}

.footercontainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
  border: 2px solid darkblue;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  margin: 10px auto;
}